<h1>Bienvenido</h1>

<p>Nombre: {{first_name}}</p>
<p>Apellido: {{last_name}}</p>
<p>Correo: {{email}}</p>
<p>Edad: {{age}}</p> 

<a href="/logout" role="button">Logout</a>


<table>
  <thead>
    <tr>
     <div><th>NAME</th></div>
     <div><th>PRICE</th></div>
     <div><th>STOCK</th></div>
    </tr>
  </thead>
  <tbody>
    {{#each result}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.price}}</td>
        <td>{{this.stock}}</td>
        <td><button class="boton1">AGREGAR PRODUCTO</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>


<p>PAGE: {{page}}</p>
{{#if prevLink}}
  <a href="{{prevLink}}" role="button">LAST</a>
{{/if}}
{{#if nextLink}}
  <a href="{{nextLink}}" role="button">NEXT</a>
{{/if}}